.HistoryContainer
{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.HistoryContainer-Products
{
    display: grid;
    grid-template-columns: repeat(3, max-content);
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;

}
.HistoryContainer-Title
{
    font-size: 62px;
}

@media (max-width: 1800px) {
    .HistoryContainer-Products
    {
        grid-template-columns:  repeat(auto-fit, 552px);
    }
}

@media (max-width: 720px) {
    .HistoryContainer-Products
    {
        grid-template-columns:  repeat(auto-fit, 252px);
    }
}
