.NavLinks
{
    display: flex;
    flex-direction: row;
    width: min-content;
    justify-content: center;
    align-items: center;
    gap: 10px;
    list-style-type: none;
    padding: 0;
}

.NavLink a
{
    text-decoration: none;
    color: rgb(176, 176, 176);

}

.NavLink a:hover
{
    color: rgb(10, 212, 250);
    transition: ease 0.3s color;
}
.NavBar
{
    display: flex;
    flex-direction: row;
    background-color: white;
    height: 40px;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}
.NavBar-NavLinks-Container
{
    display: flex;
    flex-direction: row;
    width: min-content;
    gap: 10px;
}

.NavBar-UserInfo
{
    display: flex;
    flex-direction: row;
    gap: 20px;
    font-size: 20px;
    justify-content: center;
    align-items: center;
}

.NavBar-UserInfo-Name
{
    margin: 0px;
}

.NavBar-UserInfo-Money-Container
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgb(237, 237, 237);
    min-width: 100px;
    padding: 10px 30px 10px 30px;
    border-radius: 20px;
    box-sizing: border-box;
}

.NavBar-UserInfo-Money
{
    margin: 0px 5px 0px 0px;
}

@media (max-width: 500px) {
    .NavLinks {
        flex-wrap: wrap;
    }
}