
.ProductToolbar-Container,
.ProductToolbar
{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.ProductToolbar-Container
{
    padding-right: 20px;
    padding-bottom: 20px;

    justify-content: space-between;
    border-bottom: #EDEDED 2px solid;
    box-sizing: border-box;

}

