body
{
    font-family: 'Roboto', sans-serif;
    background-color: #fcfcfc;
}
.ProductSectionContainer
{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}

.ProductSection
{
    width: 1188px;
}

@media (max-width: 1250px) {

    .ProductSectionContainer
    {
        align-items: normal;
        margin: 0px 5px 0px 5px;
    }

    .ProductSection
    {
        width: auto;
    }
}

